{cover_enabled, true}.

{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.

{erl_opts, [debug_info]}.

{deps,
 [{mhttp,
   {git, "https://github.com/exograd/erl-mhttp.git", {branch, "master"}}},
  {uri,
   {git, "https://github.com/exograd/erl-uri.git", {branch, "master"}}},
  {json,
   {git, "https://github.com/exograd/erl-json.git", {branch, "master"}}},
  {jsv,
   {git, "https://github.com/exograd/erl-jsv.git", {branch, "master"}}}]}.

{shell, [{apps, [stripe]}]}.

{plugins,
 [{rebar3_openapi,
   {git, "https://github.com/exograd/rebar3-openapi", {branch, "master"}}}]}.

{openapi,
 #{package_name => "stripe",
   specification_file => "stripe-openapi/openapi/spec3.json"}}.
